name: "Spark Framework",
host: "0.0.0.0",
port: 7788,
players: 1024,
#password: "verysecurepassword",
announce: false,
#token: no-token,
gamemode: "Roleplay",
website: "sparkframework.com",
language: "en",
description: "test",
debug: true,
modules: [
  "js-module",
],
resources: ["core"],
